* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: system-ui, Arial, sans-serif;
  line-height: 1;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --move: hsl(198.6 88.7% 48.4%);
  --capture: hsl(0 84.2% 60.2%);
  --promotion: hsl(45.4 93.4% 47.5%);
  --secondary: hsl(240 5.2% 38.5%);
  --background: hsl(0 0% 98%);
  --text: hsl(240 10% 3.9%);
}

html {
  scrollbar-gutter: stable;

  &:has(.over-screen[data-open="true"]),
  &:has([data-pawn-promotion][data-open="true"]) {
    scrollbar-gutter: auto;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text);
}

button {
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  color: var(--text);
  background-color: var(--background);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

main {
  width: 100%;
  max-width: 600px;
  margin-inline: auto;
  padding-inline: 0.5em;

  header {
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      z-index: 1;
      padding-inline: 0.4em;
    }

    h1 {
      font-size: 2em;
      text-align: center;
      margin-block: 0.6em;
      text-transform: capitalize;
    }

    button {
      padding: 0.6em 1.2em;
      border-radius: 6px;
      transition: filter 0.25s;
      border-width: 2px;
      border-color: var(--secondary);

      &:hover,
      &:focus-visible {
        filter: drop-shadow(0 0 0.5em var(--secondary));
      }
    }
  }
}

.game-board {
  display: grid;
  min-width: 300px;
  grid-template-columns: repeat(8, minmax(0, 1fr));
  grid-template-rows: repeat(8, minmax(0, 1fr));
  aspect-ratio: 1/1;
  transform-origin: center;
  transition: transform 0.15s;
  background-color: var(--background);
  border: 1px solid var(--text);

  &.disable {
    pointer-events: none;
    opacity: 0.5;
  }

  button {
    font-size: clamp(1em, 2.8vh + 1em, 2.5em);
    transform-origin: center;
    display: inline-flex;
    line-height: 2;
    justify-content: center;
    align-items: center;
    position: relative;

    &.black {
      background-color: var(--secondary);
    }

    --square-shadow: var(--move);

    &[data-move-type]::after {
      isolation: isolate;
      content: "";
      position: absolute;
      inset: 5px;
      z-index: 1;
      box-shadow: 0 0 0 6px var(--square-shadow);
    }

    &[data-move-type="capture"]::after {
      --square-shadow: var(--capture);
    }

    &[data-move-type="promotion"]::after,
    &[data-move-type="all"]::after {
      --square-shadow: var(--promotion);
    }

    &.king-check::after {
      isolation: isolate;
      content: "";
      position: absolute;
      inset: 0;
      z-index: 1;
      background-color: hsla(from var(--capture) h s l / 0.4);
    }
  }

  &.rotate {
    --rotation: 180deg;

    transform: rotate(var(--rotation));

    button {
      transform: rotate(var(--rotation));
    }
  }
}

.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
}

.start-screen {
  display: grid;
  gap: 1em;

  h1 {
    font-size: 3em;
    text-align: center;
    padding-bottom: 0.25em;
  }

  button {
    padding: 0.6em 1.2em;
    border-radius: 6px;
    transition: filter 0.25s;
    border-width: 2px;
    border-color: var(--secondary);
    word-spacing: 1.5ch;

    &:hover,
    &:focus-visible {
      filter: drop-shadow(0 0 0.5em var(--secondary));
    }
  }
}

.over-screen button {
  padding: 0.6em 1.2em;
  border-radius: 6px;
  transition: background-color 0.25s;
  border-width: 2px;
  border-color: var(--secondary);

  &:hover,
  &:focus-visible {
    background-color: hsla(from var(--background) h s l / 0.8);
  }
}

.backdrop-content {
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 2;
  background-color: hsla(from var(--secondary) h s l / 0.6);
  backdrop-filter: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2em;

  h1 {
    font-size: 2em;
    font-weight: 600;
  }
}

.promotion-pieces {
  display: grid;
  min-width: 180px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-template-rows: repeat(2, minmax(0, 1fr));
  aspect-ratio: 1/1;
  background-color: var(--background);
  border: 1px solid var(--text);

  button {
    font-size: clamp(1em, 2.8vh + 1em, 2.5em);
    transform-origin: center;
    display: inline-flex;
    line-height: 2;
    justify-content: center;
    align-items: center;

    &.black {
      background-color: var(--secondary);
    }
  }
}

*:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}

[data-open="false"] {
  display: none;
}
